<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main> 
      <h1><%= title %></h1>
      <h2>Clase en vivo</h2>
      <p>Welcome to <%= title %></p>
      <a>Clase 37</a>
      <script src="/js/index.js"></script>
  </main>
  </body>
</html>
